[Unit]
Description=ghc-api-proxy rolling IPv4 listener

[Socket]
ListenStream=127.0.0.1:4144
Accept=no
Backlog=1024
NoDelay=true
FileDescriptorName=http-v4
Service=ghc-api-proxy-controller.service

[Install]
WantedBy=ghc-api-proxy-rolling.target
